@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

/* Global */

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #eee;
  margin: 0;
  height: auto;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 400; 
}
h2 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
main {
  max-width: 900px;
  margin: auto;
  box-shadow: 40px 0 30px rgba(0, 0, 0, 0.1),
  -30px 0 40px rgba(0, 0, 0, 0.1);
}
#main-text {
  background: #fff;
}
#main-image {
  background-image: url(/mainimage1.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  height: 100vh;
  flex: 0 1 60vh;
  margin: 0;
}
#main-text-inner {
  display: flex;
  flex-direction: column;
  flex: 1 0 30vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
#header {
  text-align: center;
  background: #333333;
  padding: 1.5rem;
  color: #fff;
}
#header h2 {
  display: inline-block;
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}
.button {
  font-size: 1.1rem;
  display: inline-block;
  color: #333;
  text-decoration: none;
  border: #ccc 1px solid;
  padding: 1rem 2rem;
  border-radius: 30px;
  margin: 0.5rem;
  transition: background 100ms ease; 
}
.button:hover {
  background: #f4f4f4;
}
.caption {
  text-align: center;
  padding: 1rem;
}
footer {
  text-align: center;
  padding: 1rem 2rem;
}
footer h3 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

/* screen size 500px and up */
@media(min-width: 500px) {
  #main-text {
    display: flex;
    height: 100%;
  }
  #main-text-inner {
    height: 100vh;
  }
  #landing-image {
    height: 100vh;
  }
}

/* screens sizes 700px and up */
@media(min-width: 700px) {
  .button {
    padding: 1rem 3rem;
  }
}